<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YAWB</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class='header'>
</div>

<ul id ="nav-bar">
  <li><a href="http://www.yesallwomenboston.org/">Main Page</a></li>
  <li><a href="/new-team">Create Team</a></li>
</ul>



<div id="preamble">
<h1>Volunteer Sign-up</h1>
  We are planning a feminist rock rager! To learn more about our mission, and upcoming events, follow us on <a href="https://www.facebook.com/yesallwomenboston">Facebook</a> and <a href="https://twitter.com/yesallwomenbos">Twitter</a>.
  <br>
  <br>
  Want to help out? Check out our volunteer teams and sign up below.
</div>

<ul class='all-teams'>
<% @teams.each do |team| %>
  <ul class="team">
    <li><a href = <%= "/team/#{team['id']}"%> ><%= team['name']%></a></li>
    <li><%= team['description']%></li>
    <br>
    <li>Point person: </li>
    <li><%= team['point_person']%></li>
    <li><%= team['point_person_email']%></li>
    <li><a href = <%= "/team/#{team['id']}"%> id = 'registration-link'>Register here!</a></li>
  </ul>

<% end %>
</ul>


</body>
</html>
