<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>YAWB</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>

<div class='header'>

</div>

<h1>Yes All Women Boston Volunteer Teams!</h1>

<p id="preamble">We are planning a feminist rock rager! To learn more about our mission, and upcoming events, follow us on <a href="https://www.facebook.com/yesallwomenboston">Facebook</a> and <a href="https://twitter.com/yesallwomenbos">Twitter</a>.
<br>
<br>
Want to help out? Check out our volunteer teams and sign up below.</p>



<ul >
<% @teams.each do |team| %>
  <ul class="teams">
    <li><a href = <%= "/team/#{team['id']}"%> ><%= team['name']%></a></li>
    <li><%= team['description']%></li>
    <br>
    <li>Point person: </li>
    <li><%= team['point_person']%></li>
    <li><%= team['point_person_email']%></li>
    <li><a href = <%= "/team/#{team['id']}"%> id = 'registration-link'>Register here!</a></li>
  </ul>

<% end %>
</ul>

<a href="/new-team" id = 'make-team'><p>Make new team</p></a>

<p id = 'foot'>Contact Alla Hoffman (sm1th303@gmail) with any site issues.</p>

</body>
</html>
