<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Info</title>
  <link rel="stylesheet" href="/style.css" />

</head>
<body>

<div class='header' id ='team-page'>
</div>

<ul id ="nav-bar">
    <li><a href="http://www.yesallwomenboston.org/">Main Page</a></li>
  <li><a href="/">Volunteer Home</a></li>
  <li><a href="/new-team">New Team</a></li>
</ul>

<div id ="team-info">
    <h1><%= @team[1] %></h1>
    <p class='team-info'><%= "Team description: #{@team[2]}" %></p>
    <p class='team-info'><%= "Team lead: #{@team[3]}" %></p>
    <p class='team-info'><%= "Team lead contact information: #{@team[4]}" %></p>
</div>


<h2>Team has <%= @team_info != nil ? @team_info.length : '0' %> Volunteers</h2>



<form action= <%= "/join-team/#{@team[0]}" %> method='post'>
    <label for="name">Name: </label>
    <input type="text" name="name" id="name" />
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email" id="email" />
    <br>
    <div class = "suggestions">
    <label for="suggest">Suggestions, comments, or concerns: </label>
    <br>
    <textarea name="suggest" id="suggest" rows="8" cols="60">
    </textarea>
    </div>
    <br>
    <input type="submit" value="Sign up"/>
</form>


</body>
</html>
